body {
    background-color: #68b0ab;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: Arial, sans-serif;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hidden {
    display: none;
}

#start-button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
}

#birthday-message {
    font-size: 36px;
    opacity: 0;
    transition: opacity 1s;
}

#photo {
    margin-top: 20px;
    opacity: 0;
    transition: opacity 1s;
}

#next-button, #cute-message-button {
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
}

.birthday-cake {
    position: relative; 
    top: 20px;
}

/* Include your cake styles here */
.holder {
    position: absolute;
    width: 350px;
    height: 20px;
    border-radius: 100px;
    background-color: #212F3C;
    left: -140px;
    top: 10px;  
}

/* Add the rest of your cake styles here... */
