@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
    color: white;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

#start, #content, #messageSection {
    display: none;
}

img {
    max-width: 80%;
    border-radius: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: pink;
    color: black;
}
